body {
    background-color: #ff5c5c;
}
h1 {
    font-family: 'Bungee Shade', cursive;
    color: #ff5c5c
}
p {
    font-family: 'Montserrat', sans-serif;
}
button {
    font-family: 'Montserrat', sans-serif;  
}